### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
#  Step #5 Determine the total number of schools by using the names 
total_school_count = len(school_data_complete["school_name"].unique())
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# Step #6 Determine the total number of students 
total_student_count = school_data_complete["Student ID"].count()

In [18]:
# Step #7 Determine the total budget for schools
total_school_budget = school_data['budget'].sum()

In [19]:
# Step 8 Average math scores
avg_math_score = school_data_complete['math_score'].mean()

In [20]:
# Step 8 Average reading scores
avg_reading_score = school_data_complete['reading_score'].mean()

In [21]:
#average passing rate
overall_pass_rate=(avg_reading_score+avg_math_score)/2

In [22]:
# Step #8 Determine the average math score and % passing math
total_passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70].count()['student_name']

#total_passing_math_count= total_passing_math.groupby('math_score').count()

passing_math_per=total_passing_math/float(total_student_count)*100
passing_math_per

74.9808526933878

In [23]:
# Step #8 Determine the average reading score and % passing reading
total_passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70].count()['student_name']

#total_passing_math_count= total_passing_math.groupby('math_score').count()
total_passing_reading

passing_reading_per=total_passing_reading/float(total_student_count)*100
passing_reading_per

85.80546336482001

In [25]:
dis_summary=pd.DataFrame({'Total Schools': [total_school_count],
                          'Total Students': [total_student_count],
                          'Total Budget':[total_school_budget],
                          'Average Math Score':[avg_math_score],
                          'Average Reading Score':[avg_reading_score],
                          '% Passing Math':[passing_math_per],
                          '% Passing Reading':[passing_reading_per],
                          '% Overall Passing Rate':[overall_pass_rate]
                         })

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

In [26]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [40]:
school_type=school_data.set_index('school_name')['type']
total_school_students=school_data_complete['school_name'].value_counts()
total_school_budget=school_data_complete.groupby('school_name').mean()['budget']
per_student_budget=total_school_budget/total_school_students
avg_per_school_math=school_data_complete.groupby('school_name').mean()['math_score']
avg_per_school_reading=school_data_complete.groupby('school_name').mean()['reading_score']
school_passing_math=school_data_complete[school_data_complete['math_score']>=70]
school_passing_reading=school_data_complete[school_data_complete['reading_score']>=70]
per_school_passing_math=school_passing_math.groupby('school_name').count()['student_name']/total_school_students*100
per_school_passing_reading=school_passing_reading.groupby('school_name').count()['student_name']/total_school_students*100
overall_passing=(per_school_passing_math + per_school_passing_reading)/2

In [41]:
school_summary=pd.DataFrame({
                            'School Type':school_type,
                            'Total Students':total_school_students,
                            'Total School Budget':total_school_budget,
                            'Per Student Budget':per_student_budget,
                            'Average Math Score':avg_per_school_math,
                            'Average Reading Score':avg_per_school_reading,
                            '% Passing Math':per_school_passing_math,
                            '% Passing Reading':per_school_passing_reading,
                            'Overall Passing Rate':overall_passing})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [ ]:
top_5 = school_summary.sort_values('Overall Passing Rate',ascending=False)
top_5.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
bottom_5 = school_summary.sort_values('Overall Passing Rate',ascending=True)
bottom_5.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
nineth_grade_math = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_grade_math = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_math = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_math = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
                            "9th": nineth_grade_math,
                            "10th": tenth_grade_math,
                            "11th": eleventh_grade_math,
                            "12th": twelfth_grade_math
                            })

math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
nineth_grade_reading = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_grade_reading = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_reading = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_reading = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

reading_scores = pd.DataFrame({
                            "9th": nineth_grade_reading,
                            "10th": tenth_grade_reading,
                            "11th": eleventh_grade_reading,
                            "12th": twelfth_grade_reading
                            })

reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [43]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [44]:
school_spending=school_summary
school_spending['spending_per_student']=pd.cut(per_student_budget, spending_bins, labels=group_names)
school_spending

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,spending_per_student
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$585-629
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$584
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$630-644
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$630-644
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$585-629
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$584
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-629
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$630-644
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-629
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$630-644
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$584
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$584

In [45]:
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,spending_per_student
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$585-629
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$584
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$630-644
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$630-644
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$585-629
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$584
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-629
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$630-644
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-629
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$630-644
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$584
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$584

In [46]:
#group by spending bins
spending_per_student = school_spending.groupby('spending_per_student')

#determine average math, average reading, %passing math, %passing reading, and overall passing

avg_per_school_math = spending_per_student.mean()['Average Math Score']

avg_per_school_reading = spending_per_student.mean()['Average Reading Score']

school_passing_math = spending_per_student.mean()['% Passing Math']

school_passing_reading = spending_per_student.mean()['% Passing Reading']  

overall_passing= spending_per_student.mean()['Overall Passing Rate']
                                                  
# build a dataframe which includes scores by spending            
scores_group_by_spending = pd.DataFrame({
    "Average Math Score": avg_per_school_math,
    "Average Reading Score": avg_per_school_reading,
    '% Passing Math': school_passing_math,
    '% Passing Reading': school_passing_reading,
    "Overall Passing Rate": overall_passing
            
})
            
scores_group_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
spending_per_student,,,,,
<$584,83.455399,83.933814,93.460096,96.610877,95.035486
$585-629,81.899826,83.155286,87.133538,92.718205,89.925871
$630-644,78.518855,81.624473,73.484209,84.391793,78.938001
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [48]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [50]:
school_summary['School Size']=pd.cut(school_summary['Total Students'], size_bins, labels=group_names)
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,spending_per_student,School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$584,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$630-644,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$585-629,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$584,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-629,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$630-644,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-629,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$630-644,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$584,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$584,Medium (1000-2000)

In [52]:
#group by size bins
school_size = school_summary.groupby('School Size')

#determine average math, average reading, %passing math, %passing reading, and overall passing

avg_per_school_math = school_size.mean()['Average Math Score']

avg_per_school_reading = school_size.mean()['Average Reading Score']

school_passing_math = school_size.mean()['% Passing Math']

school_passing_reading = school_size.mean()['% Passing Reading']  

overall_passing= school_size.mean()['Overall Passing Rate']
                                                  
# build a dataframe which includes scores by spending            
scores_group_by_size = pd.DataFrame({
    "Average Math Score": avg_per_school_math,
    "Average Reading Score": avg_per_school_reading,
    '% Passing Math': school_passing_math,
    '% Passing Reading': school_passing_reading,
    "Overall Passing Rate": overall_passing
            
})
            
scores_group_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [53]:
#group by type
school_type = school_summary.groupby('School Type')

#determine average math, average reading, %passing math, %passing reading, and overall passing

avg_per_school_math = school_type.mean()['Average Math Score']

avg_per_school_reading = school_type.mean()['Average Reading Score']

school_passing_math = school_type.mean()['% Passing Math']

school_passing_reading = school_type.mean()['% Passing Reading']  

overall_passing= school_type.mean()['Overall Passing Rate']
                                                  
# build a dataframe which includes scores by spending            
scores_group_by_type = pd.DataFrame({
    "Average Math Score": avg_per_school_math,
    "Average Reading Score": avg_per_school_reading,
    '% Passing Math': school_passing_math,
    '% Passing Reading': school_passing_reading,
    "Overall Passing Rate": overall_passing
            
})
            
scores_group_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757